.Memberlist {
  width: 100vw;
  height: 100vh;
}

.Memberlist .Memberlist-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Memberlist .memberlist-container {
  display: flex;

  /* justify-content: center; */
  align-items: center;
  border: solid 1px #000;
  width: 400px;
  height: 600px;
}

.Memberlist .memberlist-wrapper {
  display: flex;
  margin: 0 20px 0 20px;
  flex-direction: column;
  /* padding: 20px 0 20px 0; */
  width: 100%;
  height: 100%;
}

.Memberlist .memberlist-header {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid 2px #000;
  padding-bottom: 6px;
}

.Memberlist .memberlist-header .memberlist-title {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  flex: 0 0 auto;
}

.Memberlist .memberlist-header .memberlist-add {
  font-size: 30px;
  cursor: pointer;
}

.Memberlist .memberlist-header .memberlist-add:active {
  border-radius: 50%;
  background-color: #d9d9d9;
}

.Memberlist .memberlist .member {
  font-size: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  width: fit-content;
}

.Memberlist .memberlist .member:active {
  color: indianred;
}

.AddMember {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.AddMember .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.AddMember .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 300px;
  height: 300px;
  background-color: white;
  border: 1px solid var(--main-border-light);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgb(79, 79, 79);
}

.AddMember .modal-header {
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

.AddMember .title-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.AddMember .title {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.AddMember .close {
  display: flex;
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  cursor: pointer;
  flex: 0 0 auto;
}

.AddMember .close:active {
  background-color: #d9d9d9;
  border-radius: 50%;
}

.AddMember .modal-lower {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.AddMember .input-member-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.AddMember .input-member {
  outline: none;
  border: solid 1px #b9b9b9;
  width: 150px;
  height: 25px;
  padding-left: 6px;
  border-radius: 7px;
}

.AddMember .input-member:focus {
  border: solid 1px gray;
}

.AddMember .addmember-btn {
  margin-left: 10px;
  cursor: pointer;
}

.AddMember .addmember-btn:active {
  color: indianred;
}